[submodule "ext/asio"]
	path = ext/asio
	url = https://github.com/modio/modio-integration-asio
	branch = master
[submodule "ext/optional"]
	path = ext/optional
	url = https://github.com/modio/modio-integration-optional
[submodule "ext/filesystem"]
	path = ext/filesystem
	url = https://github.com/modio/modio-integration-filesystem
	branch = ghc_os_custom
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt
[submodule "ext/utfcpp"]
	path = ext/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "ext/httpparser"]
	path = ext/httpparser
	url = https://github.com/nekipelov/httpparser.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
[submodule "ext/mbedtls"]
	path = ext/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "ext/expected"]
	path = ext/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "ext/function2"]
	path = ext/function2
	url = https://github.com/Naios/function2.git
[submodule "ext/concurrentqueue"]
	path = ext/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
