# Visual studio files
.vs/
CMakeSettings.json

# Output directory
out/
build/
installed-sdk/

# Generated documentation shouldn't be submitted
doc/**/*.pdf
doc/scripts/vendor/
.ccls-cache/
.vscode
.DS_Store
xcuserdata
